<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title-Service Record</title>*@
    <link rel="dd" href="~/assets/images/allpax_8jh_icon.ico">
    @*<link rel="shortcut icon" href="~/assets/images/allpaxLogo.jpg">*@
    <link rel="shortcut icon" href="~/assets/images/allpax.png">
    <title>Allpax Customer Service Record</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    @*<script src="~/Scripts/printThis.js"></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@

    @*BEGIN FONT AWESOME, USED FOR ICONS*@
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    @*<script src="https://use.fontawesome.com/dd3ce81488.js"></script>*@
    <link href="~/Content/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    @*END FONT AWESOME, USED FOR ICONS*@

    @*BEGIN DATATABLES.NET*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    @*END DATATABLES.NET*@

    @*BEGIN JQUERY CONFIRM PLUGIN*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    @*END JQUERY CONFIRM PLUGIN*@

    @*BEGIN JQUERY LoadingOverlay PLUGIN*@
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    @*END JQUERY LoadingOverlay PLUGIN*@

    <style>
        /*a:hover, button:hover {
            color: gray;
        }*/

        body, a {
            font-family: Tahoma;
            color: black;
        }

        #addWorkDescNarrBtn, #addWorkDescRecordBtn, #addWorkDescBtn {
            background-color: #333F48;
            border-style: solid;
            border-color: black;
            border-radius: 0px;
            font-family: Tahoma;
            color: white;
        }

        #addWorkDescDelaysNarrBtn, #addWorkDescDelaysRecordBtn, #addWorkDescDelaysBtn, #addButton, #saveAndExit_btn, .btn_save {
            background-color: #83B6CC; /*ALLPAX BLUE*/
            border-style: solid;
            border-color: black;
            border-radius: 0px;
            font-family: Tahoma;
            color: black;
        }

        #addWorkDescWntyDelaysNarrBtn, #addWorkDescWntyDelaysRecordBtn, #addWorkDescWntyDelaysBtn, #submitButton, #printDailyReport, #saveAndSubmit_btn, .btn_cancel {
            background-color: #D7D8D6; /*GRAY*/
            border-style: solid;
            border-color: black;
            border-radius: 0px;
            font-family: Tahoma;
            color: black;
        }

        #printDailyReport {
            background-color: #009A76; /*ALLPAX GREEN*/
            border-style: solid;
            border-color: black;
            border-radius: 0px;
            font-family: Tahoma;
            color: white;
        }

        .icon_rtndRecord, .icon_editedRecord, .icon_deletedRecord, .icon_addedRecord {
            color: #83B6CC;
        }

        .span_inlineBlock {
            display: inline-block
        }

        .navBar, a:hover {
            color: white;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: dimgray;">
        <div class="navbar-header">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            @*<a href="/dailyReportAll" class="navbar-brand"><img src="~/assets/images/allpaxLogo.jpg" width="150" alt="" class="img-fluid"></a>*@
            <a href="/dailyReportAll" class="navbar-brand"><img src="~/assets/images/allpax_trnspnt.png" width="150" alt="" class="img-fluid"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dailyReport">
                    <a class="nav-link navBar" href="/dailyReport">Create New Daily Report</a>
                </li>
                <li class="nav-item dailyReportAll">
                    <a class="nav-link navBar" href="/dailyReportAll">View Daily Reports</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                <li class="nav-item dailyReportViewActive">
                    <a class="nav-link navBar" href="/dailyReportViewActive">Active Daily Reports</a>
                </li>
                }
                @if (User.IsInRole("Admin"))
                {
                <li class="nav-item dropdown adminTasks">
                    <a class="nav-link navBar dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: dimgray";>
                        <a class="nav-link navBar" href="/Customers">Customers</a>
                        <a class="nav-link navBar" href="/Jobs">Jobs</a>
                        <a class="nav-link navBar" href="/SubJobTypes">Sub-job Types</a>
                        <a class="nav-link navBar" href="/ResourceTypes">Resource Types</a>
                        <a class="nav-link navBar" href="/Account/GetUserAcctInfo">Users</a>
                    </div>
                </li>
                }
            </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                @Html.Partial("_LoginPartial")
            </li>
        </ul>

        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>
</html>