@model IEnumerable<allpax_service_record.Models.tbl_dailyReport>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Create new daily report*@

<head>
    <style>
        .container {
            border: 2px solid black;
        }

        .btn {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        .select2 {
            border: 1px solid black;
        }

        i {
            pointer-events: none;
        }

        /*BEGIN UPDATED CSS COPY FROM EDIT PAGE*/
        #workDesc_container, #delays_container, #wntyDelays_container {
            padding-bottom: 5px;
        }

        .container, .narr_div, .dpdwn_div, .dpdwn_parsed_div, .hours_div, .button_div {
            border: 1px solid black;
        }

        .dpdwn_div, .dpdwn_parsed_div {
            border-left-style: none;
            border-right-style: none;
        }

        .narr_div, .dpdwn_div, .dpdwn_parsed_div, .hours_div, .button_div {
            border-bottom-style: none;
            padding: 5px;
        }

        .row {
            border: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        .entryRow .narr_div, .entryRow .dpdwn_div, .entryRow .hours_div, .entryRow .button_div {
            border-bottom: 1px solid black;
        }

        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }
        /*END UPDATED CSS COPY FROM EDIT PAGE*/

    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
    @*<script src="~/Scripts/chosen.jquery.js"></script>*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            var standardElementHeight = $("#newWorkDescBtn_save").height();//get the height of the save button...
            $(".standardInput").height(standardElementHeight);//...and assign its height to all other buttons with a class of standardInput

            fn_enableSelect2();//enable the select2 add-on on page load

            var dailyRptTeamArr = [];
            var dailyRptTeamUserIDArr = [];

            var workDescNarrArr = [];
            var workDescHoursArr = [];
            var workDescUserNamesArr = [];
            var workDescArrPreJson = [];
            var indexWorkDescEntries = 0;//keep track of the number of work description entries

            var delaysNarrArr = [];
            var delaysHoursArr = [];
            var delaysUserNamesArr = [];
            var delaysArrPreJson = [];
            var indexDelaysEntries = 0;//keep track of the number of delays entries

            var wntyDelaysNarrArr = [];
            var wntyDelaysHoursArr = [];
            var wntyDelaysUserNamesArr = [];
            var wntyDelaysArrPreJson = [];
            var indexWntyDelaysEntries = 0;//keep track of the number of warranty delays entries

            var jobs_dpdown = $('#jobs_dpdown');
            var subJobTypes_dpdwn = $('#subJobTypes_dpdwn');
            var team_dpdwn = $('#team_dpdwn');
            var dailyRptAuthor = $('#dailyRptAuthor').html();//suck in the current user name along with the domain
            dailyRptAuthor = dailyRptAuthor.replace(/@@.*/, "");//chop off the domain
            var lastDlyRptCrtdByUser;

            //begin fill the jobs dropdown
            $.ajax({
                url: 'DataService.asmx/GetAllJobNos',
                method: 'post',
                dataType: 'json',
                success: function (data) {

                    jobs_dpdown.append($('<option/>', { value: -1, text: 'Select Job' }));

                    $(data).each(function (index, item) {
                        jobs_dpdown.append($('<option/>', { value: item.jobID, text: item.jobID }));
                    });
                }
            });
            //end fill the jobs dropdown

            //begin jobs id dropdown change
            jobs_dpdown.change(function () {

                $.ajax({
                    url: 'DataService.asmx/GetCustomerInfoByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {

                        $(data).each(function (index, item) {
                            $("#output_customerName").html(item.customerName.toString());
                            $("#output_location").html(item.address.toString());
                            $("#output_customerCode").html(item.customerCode.toString());
                            $("#output_customerContact").html(item.customerContact.toString());
                        });
                    }
                });

                //begin fill the team names dropdown
                $('#subJobTypes_dpdwn').removeAttr("disabled");
                $('#subJobTypes_dpdwn').empty();//clear the dropdown
                $('#input_jobs_dpdown').val('1');//

                $.ajax({
                    url: 'DataService.asmx/GetSubJobTypesByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {
                        subJobTypes_dpdwn.append($('<option/>', { value: '', text: 'Select a Job Sub-Type' }));

                        $(data).each(function (index, item) {
                            subJobTypes_dpdwn.append($('<option/>', { value: item.subJobID, text: item.description }));
                        });
                    }
                });
                //end fill sub jobs dropdown
            });
            //end jobs id dropdown change

            //begin fill the team names dropdown
            $.ajax({
                url: 'DataService.asmx/GetAllTeamNames',
                method: 'post',
                dataType: 'json',
                data: { userName: '%' },
                success: function (data) {
                    team_dpdwn.append($('<option/>', { value: -1, text: 'Add Team Member' }));

                    $(data).each(function (index, item) {
                        team_dpdwn.append($('<option/>', { value: item.userName, text: item.name + "-" + item.shortName }));
                    });
                }
            });
            //end fill the team names dropdown

            //begin add team member on drop down change
            team_dpdwn.change(function () {

                $.ajax({
                    url: 'DataService.asmx/GetAllTeamNames',
                    method: 'post',
                    dataType: 'json',
                    data: { userName: $(this).val() },
                    success: function (data) {

                        $(data).each(function (index, item) {
                            var temp_userName = item.userName;
                            var temp_name = item.name;
                            var temp_shortName = item.shortName;

                            $("#team_").clone(true).prop("id", "team_" + temp_userName.toString()).appendTo("#txt_teamMembers");
                            $("#team_" + temp_userName.toString()).text(temp_name + "| " + temp_shortName.toString());
                            $("#team_" + temp_userName.toString()).removeAttr('hidden');//unhide the copy

                            dailyRptTeamArr.push([temp_userName, temp_name, temp_shortName]);
                            dailyRptTeamUserIDArr.push(temp_userName);

                            $("#team_dpdwn option[value='" + temp_userName + "']").attr('disabled', true);//lock the user from being selectable
                            $("<option value=" + temp_userName + ">" + temp_shortName + "</option>").appendTo(".Team_dpdwn");
                            //enable_disableSave();//determine if the save button needs to be enabled or disabled
                        });
                        //end AddTeamMember
                    }
                });
                $(team_dpdwn).val("-1");
            });
            //end add team member on drop down change

            //begin when a team member class is clicked...
            $(".team_").on('click', function () {

                var tempTeamMemberUserID = this.id.replace(/team_[0-9]*/i, "");
                for (var row = 0; row < dailyRptTeamArr.length; row++) {
                    if (dailyRptTeamArr[row][0] == tempTeamMemberUserID) {
                        dailyRptTeamArr.splice(row, 1);
                        dailyRptTeamUserIDArr.splice(row, 1);
                    }
                }

                $("#team_dpdwn option[value='" + tempTeamMemberUserID + "']").removeAttr('disabled');
                $(".Team_dpdwn option[value='" + tempTeamMemberUserID + "']").remove();
                $("#" + $(this).attr("id")).remove();
                enable_disableSave();//determine if the save button needs to be enabled or disabled
            });
            //end when a team member class is clicked...

            $(".Btn_add").click(function () {

                fn_produceParsedShortNames($(this));
                fn_disableSelect2();

                $(this).parent().parent().find(".narr_div").attr("contenteditable", "false");//lock the narrative for edits
                $(this).parent().parent().find(".dpdwn_div").hide();//hide the team dropdown
                $(this).parent().parent().find(".dpdwn_parsed_div").removeAttr("hidden");//show the parsed version of the team dropdown
                $(this).parent().parent().find(".dpdwn_parsed_div").show();//show the parsed version of the team dropdown
                $(this).parent().parent().find(".Btn_add").hide();//remove the add button, only needed for new work descriptions
                $(this).parent().parent().find(".Btn_clear").hide();//remove the clear button, only needed for new work descriptions
                $(this).parent().parent().find(".Btn_edit").removeAttr("hidden");//show the edit button, only needed for work description line entries
                $(this).parent().parent().find(".Btn_delete").removeAttr("hidden");//show the delete button, only needed for work description line entries
                $(this).parent().parent().last().find(".narr_div").css('border-bottom-style', 'none');
                $(this).parent().parent().find(".dpdwn_parsed_div").css('border-bottom-style', 'none');
                $(this).parent().parent().find(".button_div").css('border-bottom-style', 'none');

                if (/newWorkDescBtn_add/i.test($(this).attr("class"))) {
                    indexWorkDescEntries = indexWorkDescEntries + 1;

                    $(".workDescriptionLine_template_row_hidden").removeAttr("hidden");
                    $(this).parent().parent().prop("id", "workDescLine_" + indexWorkDescEntries).appendTo("#workDescriptionLine_template");
                    $("#workDescLine_" + indexWorkDescEntries).prop("class", " row workDescriptionLine_template_row_active workDescLine");

                    $(".workDescriptionLine_template_row_hidden").clone(true).prop("class", "row workDescriptionLine_template_row_active").appendTo("#workDescriptionLine_template");
                    $(".workDescriptionLine_template_row_hidden").attr("hidden", "true");
                }
                else if (/newDelaysBtn_add/i.test($(this).attr("class"))) {
                    indexDelaysEntries = indexDelaysEntries + 1;

                    $(".delaysLine_template_row_hidden").removeAttr("hidden");
                    $(this).parent().parent().prop("id", "delaysLine_" + indexDelaysEntries).appendTo("#delaysLine_template");
                    $("#delaysLine_" + indexDelaysEntries).prop("class", " row delaysLine_template_row_active delaysLine");
                    $("#delaysLine_" + indexDelaysEntries).find(".delaysTeam_hours_div").attr("contenteditable", "false");

                    $(".delaysLine_template_row_hidden").clone(true).prop("class", "row delaysLine_template_row_active").appendTo("#delaysLine_template");
                    $(".delaysLine_template_row_hidden").attr("hidden", "true");
                }
                else if (/newWntyDelaysBtn_add/i.test($(this).attr("class"))) {
                    indexWntyDelaysEntries = indexWntyDelaysEntries + 1;

                    $(".wntyDelaysLine_template_row_hidden").removeAttr("hidden");
                    $(this).parent().parent().prop("id", "wntyDelaysLine_" + indexWntyDelaysEntries).appendTo("#wntyDelaysLine_template");
                    $("#wntyDelaysLine_" + indexWntyDelaysEntries).prop("class", " row wntyDelaysLine_template_row_active wntyDelaysLine");
                    $("#wntyDelaysLine_" + indexWntyDelaysEntries).find(".wntyDelaysTeam_hours_div").attr("contenteditable", "false");

                    $(".wntyDelaysLine_template_row_hidden").clone(true).prop("class", "row wntyDelaysLine_template_row_active").appendTo("#wntyDelaysLine_template");
                    $(".wntyDelaysLine_template_row_hidden").attr("hidden", "true");
                }

                fn_enableSelect2();
                //fn_loadTimeEntries();
            });

            $(".Btn_edit").click(function () {
                var currentRow = $(this).parent().parent();

                $(this).hide();
                $(currentRow).find(".Btn_save").removeAttr("hidden");
                $(currentRow).find(".Btn_save").show();

                $(currentRow).find(".narr_div").attr("contenteditable", "true");
                $(currentRow).find(".hours_div ").attr("contenteditable", "true");
                $(currentRow).find(".dpdwn_parsed_div").hide();
                $(currentRow).find(".dpdwn_div").show();
                $(currentRow).css("color", "red");
            });

            $(".Btn_save").click(function () {
                var currentRow = $(this).parent().parent();

                $(this).hide();
                $(currentRow).find(".Btn_edit").removeAttr("hidden");
                $(currentRow).find(".Btn_edit").show();

                $(currentRow).find(".narr_div").attr("contenteditable", "false");
                $(currentRow).find(".hours_div ").attr("contenteditable", "false");
                $(currentRow).find(".dpdwn_parsed_div").show();
                $(currentRow).find(".dpdwn_div").hide();
                $(currentRow).css("color", "black");

                fn_produceParsedShortNames($(this));
            });

            $(".Btn_delete").click(function () {
                var currentRow = $(this).parent().parent();

                $.confirm({
                    title: 'Delete Entry?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            $(currentRow).remove();
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            var fields = "#slct_date, #input_jobs_dpdown, #input_equipment, #input_startTime, #input_endTime, #input_lunch, #subJobTypes_dpdwn";

            //when one of the basic fields changes...
            $(fields).on('change', function () {
                //enable_disableSave();//determine if the save button needs to be enabled or disabled
            });

            //determine if the save button needs to be enabled or disabled
            function allFilled() {
                var filled = true;
                $(fields).each(function () {
                    if ($(this).val() == '') {
                        filled = false;
                    }
                });
                if (dailyRptTeamArr.length == 0) {
                    filled = false;
                }
                return filled;
            }

            //enable or disable the save button
            function enable_disableSave() {
                if (allFilled()) {
                    $('#addButton').removeAttr('disabled');
                } else {
                    $('#addButton').attr('disabled', 'disabled');
                }
            }

            //enable the select2 add-on
            function fn_enableSelect2() {
                $('.Team_dpdwn').select2({
                    width: "100%",
                    placeholder: "Select Team",
                    closeOnSelect: "false"
                })
            }

            //disable the select2 add-on
            function fn_disableSelect2() {
                $('.Team_dpdwn').select2('destroy')
            }

            function fn_produceParsedShortNames(button) {
                var currentWorkDescTeamShortNamesParsed = "";
                //select the list elements that contain the short names of the team members
                var currentTeamShortNameLists = $(button).parent().parent().find(".dpdwn_div").find(".select2-selection__rendered li");
                //select the div where the short names will be written
                var currentTeamDpdwnParsed = $(button).parent().parent().find(".dpdwn_parsed_div");

                $(currentTeamShortNameLists).each(function (index) {
                    currentWorkDescTeamShortNamesParsed = currentWorkDescTeamShortNamesParsed.concat($(this).attr("title") + "|");
                });
                currentTeamDpdwnParsed.html(currentWorkDescTeamShortNamesParsed);
            }

            function fn_loadTimeEntries() {
                var workDescTeam_narr_div_Content = $("#workDescriptionLine_template").find(".workDescLine").find(".workDescTeam_narr_div");
                var workDescTeam_dpdwn_Content;

                var delaysTeam_narr_div_Content = $("#delaysLine_template").find(".delaysLine").find(".delaysTeam_narr_div");
                var delaysTeam_hours_div_Content;
                var delaysTeam_dpdwn_Content;

                var wntyDelaysTeam_narr_div_Content = $("#wntyDelaysLine_template").find(".wntyDelaysLine").find(".wntyDelaysTeam_narr_div");
                var wntyDelaysTeam_hours_div_Content;
                var wntyDelaysTeam_dpdwn_Content;

                var currentDropdownLine;//generic

                $(workDescTeam_narr_div_Content).each(function (index1) {

                    var workDescUserNamesArrTemp = [];

                    //workDescNarrArr.push([$(workDescTeam_narr_div_Content[index1]).html()]);
                    workDescNarrArr.push($(workDescTeam_narr_div_Content[index1]).html());

                    currentDropdownLine = $(this).parent().attr("id");
                    workDescHoursArr.push(0);
                    workDescTeam_dpdwn_Content = $("#" + currentDropdownLine).find(".select2-selection__choice__display");

                    $(workDescTeam_dpdwn_Content).each(function (index2) {

                        var tempworkDescTeam_dpdwn_ID = $(workDescTeam_dpdwn_Content[index2]).attr("id");
                        var regex = /\w+$/;
                        var temp_workDescTeam_dpdwn_ID_object = tempworkDescTeam_dpdwn_ID.match(regex);
                        var temp_UserID = temp_workDescTeam_dpdwn_ID_object[0];

                        workDescUserNamesArrTemp.push(temp_UserID);
                    });
                    workDescUserNamesArr.push(workDescUserNamesArrTemp);
                });

                $(delaysTeam_narr_div_Content).each(function (index1) {

                    var delaysUserNamesArrTemp = [];

                    //delaysNarrArr.push([$(delaysTeam_narr_div_Content[index1]).html()]);
                    delaysNarrArr.push($(delaysTeam_narr_div_Content[index1]).html());

                    currentDropdownLine = $(this).parent().attr("id");
                    delaysTeam_hours_div_Content = parseFloat($("#" + currentDropdownLine).find(".delaysTeam_hours_div").html());
                    //delaysHoursArr.push([delaysTeam_hours_div_Content]);
                    delaysHoursArr.push(delaysTeam_hours_div_Content);
                    delaysTeam_dpdwn_Content = $("#" + currentDropdownLine).find(".select2-selection__choice__display");

                    $(delaysTeam_dpdwn_Content).each(function (index2) {

                        var tempDelaysTeam_dpdwn_ID = $(delaysTeam_dpdwn_Content[index2]).attr("id");
                        var regex = /\w+$/;
                        var temp_delaysTeam_dpdwn_ID_object = tempDelaysTeam_dpdwn_ID.match(regex);
                        var temp_UserID = temp_delaysTeam_dpdwn_ID_object[0];

                        delaysUserNamesArrTemp.push(temp_UserID);
                    });
                    delaysUserNamesArr.push(delaysUserNamesArrTemp);
                });

                $(wntyDelaysTeam_narr_div_Content).each(function (index1) {

                    var wntyDelaysUserNamesArrTemp = [];

                    //wntyDelaysNarrArr.push([$(wntyDelaysTeam_narr_div_Content[index1]).html()]);
                    wntyDelaysNarrArr.push($(wntyDelaysTeam_narr_div_Content[index1]).html());

                    currentDropdownLine = $(this).parent().attr("id");
                    wntyDelaysTeam_hours_div_Content = parseFloat($("#" + currentDropdownLine).find(".wntyDelaysTeam_hours_div").html());
                    //console.log(wntyDelaysTeam_hours_div_Content);
                    //wntyDelaysHoursArr.push([wntyDelaysTeam_hours_div_Content]);
                    wntyDelaysHoursArr.push(wntyDelaysTeam_hours_div_Content);
                    wntyDelaysTeam_dpdwn_Content = $("#" + currentDropdownLine).find(".select2-selection__choice__display");

                    $(wntyDelaysTeam_dpdwn_Content).each(function (index2) {

                        var tempWntyDelaysTeam_dpdwn_ID = $(wntyDelaysTeam_dpdwn_Content[index2]).attr("id");
                        var regex = /\w+$/;
                        var temp_wntyDelaysTeam_dpdwn_ID_object = tempWntyDelaysTeam_dpdwn_ID.match(regex);
                        var temp_UserID = temp_wntyDelaysTeam_dpdwn_ID_object[0];

                        wntyDelaysUserNamesArrTemp.push(temp_UserID);
                    });
                    wntyDelaysUserNamesArr.push(wntyDelaysUserNamesArrTemp);
                });

                fn_buildPreJsonObjects();
            }

            function fn_buildPreJsonObjects() {
                //BEGIN BUILD THE WORK DESCRIPTION PRE-JSON OBJECT
                for (var i = 0; i < workDescNarrArr.length; i++) {
                    workDescArrPreJson[i] = {
                        workDescription: workDescNarrArr[i],
                        workDescriptionCategory: "1",
                        hours: workDescHoursArr[i],
                        userNames: workDescUserNamesArr[i]
                    };
                }
                //END BUILD THE DELAYS PRE-JSON OBJECT

                //BEGIN BUILD THE WORK DESCRIPTION PRE-JSON OBJECT
                for (var i = 0; i < delaysNarrArr.length; i++) {
                    delaysArrPreJson[i] = {
                        workDescription: delaysNarrArr[i],
                        workDescriptionCategory: "2",
                        hours: delaysHoursArr[i],
                        userNames: delaysUserNamesArr[i]
                    };
                }
                //END BUILD THE DELAYS PRE-JSON OBJECT

                //BEGIN BUILD THE WNTY DELAYS PRE-JSON OBJECT
                for (var i = 0; i < wntyDelaysNarrArr.length; i++) {
                    wntyDelaysArrPreJson[i] = {
                        workDescription: wntyDelaysNarrArr[i],
                        workDescriptionCategory: "3",
                        hours: wntyDelaysHoursArr[i],
                        userNames: wntyDelaysUserNamesArr[i]
                    };
                }
                //END BUILD THE WNTY DELAYS PRE-JSON OBJECT
            }

            function fn_printArrays() {
                console.log("work description section follows:");
                console.log(workDescNarrArr);
                console.log(delaysHoursArr);
                console.log(workDescUserNamesArr);
                console.log(workDescArrPreJson);


                console.log("delays section follows:");
                console.log(delaysNarrArr);
                console.log(delaysHoursArr);
                console.log(delaysUserNamesArr);
                console.log(delaysArrPreJson);

                console.log("warranty delays section follows:");
                console.log(wntyDelaysNarrArr);
                console.log(wntyDelaysHoursArr);
                console.log(wntyDelaysUserNamesArr);
                console.log(wntyDelaysArrPreJson);
            }

            //begin #addButton
            $("#addButton").click(function () {//when the add button is clicked...

                fn_loadTimeEntries();

                var addItem1 = $("#jobs_dpdown").val();
                var addItem2 = $("#slct_date").val();
                var addItem3 = $("#subJobTypes_dpdwn").val();
                var addItem4 = $("#input_startTime").val();
                var addItem5 = $("#input_endTime").val();
                var addItem6 = $("#input_lunch").val();
                var addItem7 = $("#input_equipment").val();
                var addItem7 = $("#input_equipment").val();
                var addItem8 = dailyRptAuthor;
                var addItem9 = [];
                addItem9 = dailyRptTeamUserIDArr;

                //alert(
                //    "Selected for Add POST:" + '\n' +
                //    "addItem1: " + addItem1 + '\n' +
                //    "addItem2: " + addItem2 + '\n' +
                //    "addItem3: " + addItem3 + '\n' +
                //    "addItem4: " + addItem4 + '\n' +
                //    "addItem5: " + addItem5 + '\n' +
                //    "addItem6: " + addItem6 + '\n' +
                //    "addItem7: " + addItem7 + '\n' +
                //    "addItem8: " + addItem8 + '\n' +
                //    "addItem9: " + addItem9 + '\n'
                //);

                var data = {
                    jobID: addItem1,
                    date: addItem2,
                    subJobID: addItem3,
                    startTime: addItem4,
                    endTime: addItem5,
                    lunchHours: addItem6,
                    equipment: addItem7,
                    dailyReportAuthor: addItem8,
                    dailyRptTeamArr: addItem9,
                    workDescArr: workDescArrPreJson,
                    delaysArr: delaysArrPreJson,
                    wntyDelaysArr: wntyDelaysArrPreJson
                };

                $.ajax({
                    url: '/dailyReport/AddDailyReport',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function () {
                        //$(data).each(function (index, item) {
                        //    lastDlyRptCrtdByUser = item;
                        //    window.location = '/DailyReportByReportID?reportID=' + lastDlyRptCrtdByUser;
                        //});
                    }
                });
            });

            $("#enableSelect2").click(function () {//when the add button is clicked...
                fn_enableSelect2()
            });

            $("#disableSelect2").click(function () {//when the add button is clicked...
                fn_disableSelect2()
            });

        });//end document read jquery statements
    </script>
</head>

<div class="container" id="contnrDailyLog">
    <h3 style="text-align:center">CREATE A NEW FIELD SERVICE RECORD</h3>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Daily Log Information</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <div>
                <span><strong>Record No</strong></span>
                <span id="txt_dailyReportID" value="">New</span>
            </div>
        </div>
        <div class="col-3" style="padding:5px">
            <div>
                <span><strong>Author</strong></span>
                <span class="" id="dailyRptAuthor">@User.Identity.GetUserName()</span>
                @*<span class="" id="dailyRptAuthor">@Model.First().dailyReportAuthor</span>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="md-col-2" style="padding:5px">
            <strong>Job:</strong>
        </div>
        <div class="md-col-2" style="padding:5px">
            <select name="jobs_dpdown" id="jobs_dpdown" style="width:100%" value="">
            </select>
            <input type="text" id="input_jobs_dpdown" name="" style="width:100%" hidden>
        </div>
        <div class="md-col-5" style="padding:5px"></div>
        <div class="md-col-1" style="padding:5px">
            <strong>Date:</strong>
        </div>
        <div class="md-col-2" style="padding:5px">
            <input type="date" class="form-control form-control-sm" id="slct_date" placeholder="" value=@DateTime.Today.ToString("yyyy-MM-dd")>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Customer:</strong>:
        </div>
        <div class="col-7" style="padding:5px" id="output_customerName"></div>
        <div class="col-1" style="padding:5px">
            <strong>Sub Job:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <select name="subJobTypes_dpdwn" id="subJobTypes_dpdwn" style="width:100%" disabled>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Location:</strong>
        </div>
        <div class="col-7" style="padding:5px" id="output_location"></div>
        <div class="col-1" style="padding:5px">
            <strong>Code:</strong>
        </div>
        <div class="col-2" style="padding:5px" id="output_customerCode"></div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Customer Contact:</strong>
        </div>
        <div class="col-4" style="padding:5px" id="output_customerContact"></div>
        <div class="col-2" style="padding:5px">
            <strong>Correspondents:</strong>
        </div>

    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Equipment:</strong>
        </div>
        <div class="col-10" style="padding:5px">
            <input type="text" value="" id="input_equipment" name="" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Start Time:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <input type="time" class="form-control form-control-sm" id="input_startTime" placeholder="" value="">
        </div>
        <div class="col-2" style="padding:5px">
            <strong>End Time:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <input type="time" class="form-control form-control-sm" id="input_endTime" placeholder="" value="">
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Lunch (hr)</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <input type="text" class="form-control form-control-sm" id="input_lunch" value="1">
        </div>
        <div class="col-1" style="padding:5px">
        </div>
    </div>
</div>
<hr style="margin:1px; opacity:0" />
@*BEGIN ALLPAX TEAM*@
<div class="container" id="">
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Allpax Team:</strong>
        </div>
        <div class="col-10" style="padding:5px">
            <div class="row" style="margin:0px;">
                <select name="team_dpdwn" id="team_dpdwn" style="width:100%">
                </select>
            </div>
            <div class="row" style="margin:0px;" name="txt_teamMembers" id="txt_teamMembers">
                <div class="team_" id="team_" style="padding:5px; border:solid black 1px" hidden>
                    Johnny Watkins|JW
                </div>
            </div>
            @*<button class='btn btn-light btn-sm' id="enableSelect2">enable</button>
                <button class='btn btn-light btn-sm' id="disableSelect2">disable</button>*@
        </div>
    </div>
</div>
@*END ALLPAX TEAM*@
<hr style="margin:1px; opacity:0" />
@*BEGIN WORK DESCRIPTION SECTION*@
<div class="container" id="workDesc_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <strong>Work Description</strong>
        </div>
        <div class="col-4" style="padding:5px">
            <strong>Team</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>
    @*BEGIN NEW WORK DESCRIPTION TEMPLATE*@
    <!--<div class="" id="workDescriptionLine_template" style="padding:3px">
        <div class="row workDescriptionLine_template_row_active" id="" style="border:1px solid black;">
            <div class="col-6 narr_div workDescTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-4 dpdwn_div workDescTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new workDescTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-4 dpdwn_parsed_div workDescTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div workDescTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newWorkDescBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newWorkDescBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWorkDescBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWorkDescBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWorkDescBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <span class="newRecord" hidden>NEW</span>
            </div>-->
            @*<hr style="margin:2px; opacity:0" />*@
        <!--</div>

        <div class="row workDescriptionLine_template_row_hidden" id="" style="border:1px solid black;" hidden>
            <div class="col-6 narr_div workDescTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-4 dpdwn_div workDescTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new workDescTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-4 dpdwn_parsed_div workDescTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div workDescTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newWorkDescBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newWorkDescBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWorkDescBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWorkDescBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWorkDescBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <span class="newRecord" hidden>NEW</span>
            </div>-->
            @*<hr style="margin:2px; opacity:0" />*@
        <!--</div>
    </div>-->
    @*END NEW WORK DESCRIPTION TEMPLATE*@

    @*BEGIN NEW WORK DESCRIPTION TEMPLATE*@
    <div class="" id="workDescriptionLine_template" style="padding:3px">
        <div class="row workDescriptionLine_template_row_active" id="" style="border:none;">
            <div class="col-6 narr_div workDescTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-4 dpdwn_div workDescTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new workDescTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-4 dpdwn_parsed_div workDescTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div workDescTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newWorkDescBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newWorkDescBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWorkDescBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWorkDescBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWorkDescBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <span class="newRecord" hidden>NEW</span>
            </div>
        </div>

        <div class="row workDescriptionLine_template_row_hidden" id="" style="border:none" hidden>
            <div class="col-6 narr_div workDescTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-4 dpdwn_div workDescTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new workDescTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-4 dpdwn_parsed_div workDescTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div workDescTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newWorkDescBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newWorkDescBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWorkDescBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWorkDescBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWorkDescBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <span class="newRecord" hidden>NEW</span>
            </div>
        </div>
    </div>
    @*END NEW WORK DESCRIPTION TEMPLATE*@
</div>
@*END WORK DESCRIPTION SECTION*@
<hr style="margin:1px; opacity:0">
@*BEGIN DELAYS*@
<div class="container" id="delays_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <strong>Delays</strong>
        </div>
        <div class="col-3" style="padding:5px">
            <strong>Team</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <strong>Hours</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>
    @*BEGIN NEW DELAYS TEMPLATE*@
    <div class="" id="delaysLine_template" style="padding:3px">
        <div class="row delaysLine_template_row_active" id="" style="border:none;">
            <div class="col-6 narr_div delaysTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-3 dpdwn_div delaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn delaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div delaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-1 hours_div delaysTeam_hours_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div delaysTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
            </div>
        </div>

        <div class="row delaysLine_template_row_hidden" id="" style="border:none;" hidden>
            <div class="col-6 narr_div delaysTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-3 dpdwn_div delaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn delaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div delaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-1 hours_div delaysTeam_hours_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div delaysTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
            </div>
        </div>
    </div>
</div>
@*END DELAYS TEMPLATE*@
@*END DELAYS*@

@*BEGIN WARRANTY DELAYS*@
<hr style="margin:1px; opacity:0">
<div class="container" id="wntyDelays_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <strong> Warranty Delays</strong>
        </div>
        <div class="col-3" style="padding:5px">
            <strong>Team</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <strong>Hours</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>
    @*BEGIN WARRANTY DELAYS TEMPLATE*@
    <div class="" id="wntyDelaysLine_template" style="padding:3px">
        <div class="row wntyDelaysLine_template_row_active" id="" style="border:none;">
            <div class="col-6 narr_div wntyDelaysTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-3 dpdwn_div wntyDelaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn wntyDelaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div wntyDelaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-1 hours_div wntyDelaysTeam_hours_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div wntyDelaysTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newwntyDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newwntyDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit linewntyDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save linewntyDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete linewntyDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
            </div>
        </div>

        <div class="row wntyDelaysLine_template_row_hidden" id="" style="border:none;" hidden>
            <div class="col-6 narr_div wntyDelaysTeam_narr_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-3 dpdwn_div wntyDelaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn wntyDelaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div wntyDelaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-1 hours_div wntyDelaysTeam_hours_div" id="" contenteditable="true" style="padding:5px; border:1px solid black;">

            </div>
            <div class="col-2 button_div wntyDelaysTeam_button_div" style="padding:0px; border:1px solid black">
                <button id="" class="btn btn-light btn-sm Btn_add newwntyDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newwntyDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit linewntyDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save linewntyDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete linewntyDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
            </div>
        </div>
    </div>
    @*END WARRANTY DELAYS TEMPLATE*@
</div>
@*END WARRANTY DELAYS*@
@*BEGIN FINAL PAGE ACTIONS*@
<hr style="margin:1px; opacity:0">
<div class="container" id="_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <button type="button" class="btn btn-primary btn-sm" id="addButton" style="width: 100%">Save & Exit</button>
        </div>
        <div class="col-6" style="padding:5px">
            <button type="button" class="btn btn-primary btn-sm" id="submitButton" style="width: 100%">Save & Submit</button>
        </div>
        @*<div class="col-4" style="padding:5px">
            <button type="button" class="btn btn-primary btn-sm" id="printDailyReport" style="width: 100%">E-mail Daily Report Test</button>
        </div>*@
    </div>
</div>
@*END FINAL PAGE ACTIONS*@