@model IEnumerable<allpax_service_record.Models.tbl_dailyReport>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Create new daily report*@

<head>
    <style>
        /*.container {
            border: 2px solid black;
        }

        .btn {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        .select2 {
            border: 1px solid black;
        }

        i {
            pointer-events: none;
        }*/

        /*BEGIN UPDATED CSS COPY FROM EDIT PAGE*/
        #workDesc_container, #delays_container, #wntyDelays_container {
            padding-bottom: 5px;
        }

        .container {
            border: 1px solid black;
        }

        .narr_div, .dpdwn_div, .dpdwn_parsed_div, .hours_div, .button_div {
            border-top: 1px solid black;
            border-left: 1px solid black;
            padding: 5px;
        }

        .button_div {
            border-right: 1px solid black;
        }

        .row {
            border: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        .entryRow .narr_div, .entryRow .dpdwn_div, .entryRow .hours_div, .entryRow .button_div {
            border-bottom: 1px solid black;
            padding: 5px;
        }

        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }
        /*END UPDATED CSS COPY FROM EDIT PAGE*/

    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
    @*<script src="~/Scripts/chosen.jquery.js"></script>*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            var team_dpdwn = $('#team_dpdwn');
            var dailyReportID = $("#txt_dailyReportID").html();

            var jobs_dpdown = $('#jobs_dpdown');
            var subJobTypes_dpdwn = $('#subJobTypes_dpdwn');
            var dailyRptAuthor = $('#dailyRptAuthor').html();//suck in the current user name along with the domain
            dailyRptAuthor = dailyRptAuthor.replace(/@@.*/, "");//chop off the domain
            var lastDlyRptCrtdByUser;        

            var dailyRptTeamArr = [];
            var dailyRptTeamUserIDArr = [];
            var dailyLogInfoChngd = false;
            var recordsToAddStatus = 0;

            var dailyRptTeamArr = [];
            var dailyRptTeamUserIDArr = [];

            var workDescNarrArr_Add = [];
            var workDescHoursArr_Add = [];
            var workDescUserNamesArr_Add = [];
            var workDescArrJson_Add = [];
            var indexWorkDescEntries_Add = 0;//keep track of the number of work description entries

            var delaysNarrArr_Add = [];
            var delaysHoursArr_Add = [];
            var delaysUserNamesArr_Add = [];
            var delaysArrJson_Add = [];
            var indexDelaysEntries_Add = 0;//keep track of the number of delays entries

            var wntyDelaysNarrArr_Add = [];
            var wntyDelaysHoursArr_Add = [];
            var wntyDelaysUserNamesArr_Add = [];
            var wntyDelaysArrJson_Add = [];
            var indexWntyDelaysEntries_Add = 0;//keep track of the number of warranty delays entries

            fn_enableSelect2();//enable the select2 add-on on page load
            fn_loadDropDowns();

            //BEGIN DAILY REPORT LOG SECTION

            //begin jobs id dropdown change
            //differs between new daily report and an existing one
            jobs_dpdown.change(function () {

                $.ajax({
                    url: 'DataService.asmx/GetCustomerInfoByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {

                        $(data).each(function (index, item) {
                            $("#output_customerName").html(item.customerName.toString());
                            $("#output_location").html(item.address.toString());
                            $("#output_customerCode").html(item.customerCode.toString());
                            $("#output_customerContact").html(item.customerContact.toString());
                        });
                    }
                });

                //begin fill the team names dropdown
                $('#subJobTypes_dpdwn').removeAttr("disabled");
                $('#subJobTypes_dpdwn').empty();//clear the dropdown
                $('#input_jobs_dpdown').val('1');//

                $.ajax({
                    url: 'DataService.asmx/GetSubJobTypesByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {
                        subJobTypes_dpdwn.append($('<option/>', { value: '', text: 'Select a Job Sub-Type' }));

                        $(data).each(function (index, item) {
                            subJobTypes_dpdwn.append($('<option/>', { value: item.subJobID, text: item.description }));
                        });
                    }
                });
                //end fill sub jobs dropdown
            });
            //end jobs id dropdown change

            //begin add team member on drop down change
            //differs between new daily report and an existing one
            team_dpdwn.change(function () {

                $.ajax({
                    url: 'DataService.asmx/GetAllTeamNames',
                    method: 'post',
                    dataType: 'json',
                    data: { userName: $(this).val() },
                    success: function (data) {

                        $(data).each(function (index, item) {
                            var temp_userName = item.userName;
                            var temp_name = item.name;
                            var temp_shortName = item.shortName;

                            $("#team_").clone(true).prop("id", "team_" + temp_userName.toString()).appendTo("#txt_teamMembers");
                            $("#team_" + temp_userName.toString()).text(temp_name + "| " + temp_shortName.toString());
                            $("#team_" + temp_userName.toString()).removeAttr('hidden');//unhide the copy

                            dailyRptTeamArr.push([temp_userName, temp_name, temp_shortName]);
                            dailyRptTeamUserIDArr.push(temp_userName);

                            $("#team_dpdwn option[value='" + temp_userName + "']").attr('disabled', true);//lock the user from being selectable
                            $("<option value=" + temp_userName + ">" + temp_shortName + "</option>").appendTo(".Team_dpdwn");
                            //enable_disableSave();//determine if the save button needs to be enabled or disabled
                        });
                        //end AddTeamMember
                    }
                });
                $(team_dpdwn).val("-1");
            });
            //end add team member on drop down change

            //begin when a team member class is clicked for deletion...
            //differs between new daily report and an existing one
            $(".team_").on('click', function () {

                var tempTeamMemberUserID = this.id.replace(/team_[0-9]*/i, "");
                for (var row = 0; row < dailyRptTeamArr.length; row++) {
                    if (dailyRptTeamArr[row][0] == tempTeamMemberUserID) {
                        dailyRptTeamArr.splice(row, 1);
                        dailyRptTeamUserIDArr.splice(row, 1);
                    }
                }

                $("#team_dpdwn option[value='" + tempTeamMemberUserID + "']").removeAttr('disabled');
                $(".Team_dpdwn option[value='" + tempTeamMemberUserID + "']").remove();
                $("#" + $(this).attr("id")).remove();
                enable_disableSave();//determine if the save button needs to be enabled or disabled
            });
            //end when a team member class is clicked for deletion...

            //cloned to new daily report
            $("#contnrDailyLog").on("change keypress", function () {
                dailyLogInfoChngd = true;
                enable_disableSave();
            });

            //END DAILY REPORT LOG SECTION          

            //BEGIN RETURNED RECORDS AND TIME ENTRY SECTION

            //cloned to new daily report
            $(".Btn_add").click(function () {

                if (fn_rowFilled($(this))) {

                    fn_produceParsedShortNames($(this));
                    fn_disableSelect2();
                    var currentRow = $(this).parent().parent();

                    //console.log("HTML of the NARR DIV before processing is " + currentRow.find(".narr_div").html());
                    var cleaned_narrDiv = fn_cleanupDataEntryFields(currentRow.find(".narr_div").html());
                    currentRow.find(".narr_div").html(cleaned_narrDiv);//set the content of .narr_div to cleaned html              

                    currentRow.find(".narr_div").attr("contenteditable", "false");//lock the narrative for edits
                    currentRow.find(".dpdwn_div").hide();//hide the team dropdown
                    currentRow.find(".dpdwn_parsed_div").removeAttr("hidden");//show the parsed version of the team dropdown
                    currentRow.find(".dpdwn_parsed_div").show();//show the parsed version of the team dropdown
                    currentRow.find(".Btn_add").hide();//remove the add button, only needed for new work descriptions
                    currentRow.find(".Btn_clear").hide();//remove the clear button, only needed for new work descriptions
                    currentRow.find(".Btn_edit").removeAttr("hidden");//show the edit button, only needed for work description line entries
                    currentRow.find(".Btn_delete").removeAttr("hidden");//show the delete button, only needed for work description line entries
                    currentRow.last().find(".narr_div").css('border-bottom-style', 'none');
                    currentRow.find(".dpdwn_parsed_div").css('border-bottom-style', 'none');
                    currentRow.find(".button_div").css('border-bottom-style', 'none');

                    if (/newWorkDescBtn_add/i.test($(this).attr("class"))) {
                        indexWorkDescEntries_Add = indexWorkDescEntries_Add + 1;

                        $(".workDescriptionLine_template_row_hidden").removeAttr("hidden");
                        currentRow.prop("id", "workDescLine_" + indexWorkDescEntries_Add).appendTo("#workDescriptionLine_template");
                        $("#workDescLine_" + indexWorkDescEntries_Add).prop("class", " row addRecord workDescLine");
                        $("#workDescLine_" + indexWorkDescEntries_Add).find(".Btn_addedRecord").removeAttr("hidden");

                        $(".workDescriptionLine_template_row_hidden").clone(true).prop("class", "row entryRow workDescriptionLine_template_row_active").appendTo("#workDescriptionLine_template");
                        $(".workDescriptionLine_template_row_hidden").attr("hidden", "true");
                    }
                    else if (/newDelaysBtn_add/i.test($(this).attr("class"))) {
                        indexDelaysEntries_Add = indexDelaysEntries_Add + 1;

                        $(".delaysLine_template_row_hidden").removeAttr("hidden");
                        currentRow.prop("id", "delaysLine_" + indexDelaysEntries_Add).appendTo("#delaysLine_template");
                        $("#delaysLine_" + indexDelaysEntries_Add).prop("class", " row addRecord delaysLine");
                        $("#delaysLine_" + indexDelaysEntries_Add).find(".delaysTeam_hours_div").attr("contenteditable", "false");
                        $("#delaysLine_" + indexDelaysEntries_Add).find(".Btn_addedRecord").removeAttr("hidden");

                        $(".delaysLine_template_row_hidden").clone(true).prop("class", "row entryRow delaysLine_template_row_active").appendTo("#delaysLine_template");
                        $(".delaysLine_template_row_hidden").attr("hidden", "true");
                    }
                    else if (/newWntyDelaysBtn_add/i.test($(this).attr("class"))) {
                        indexWntyDelaysEntries_Add = indexWntyDelaysEntries_Add + 1;

                        $(".wntyDelaysLine_template_row_hidden").removeAttr("hidden");
                        currentRow.prop("id", "wntyDelaysLine_" + indexWntyDelaysEntries_Add).appendTo("#wntyDelaysLine_template");
                        $("#wntyDelaysLine_" + indexWntyDelaysEntries_Add).prop("class", " row addRecord wntyDelaysLine");
                        $("#wntyDelaysLine_" + indexWntyDelaysEntries_Add).find(".wntyDelaysTeam_hours_div").attr("contenteditable", "false");
                        $("#wntyDelaysLine_" + indexWntyDelaysEntries_Add).find(".Btn_addedRecord").removeAttr("hidden");

                        $(".wntyDelaysLine_template_row_hidden").clone(true).prop("class", "row entryRow wntyDelaysLine_template_row_active").appendTo("#wntyDelaysLine_template");
                        $(".wntyDelaysLine_template_row_hidden").attr("hidden", "true");
                    }

                    fn_enableSelect2();
                }

                else {

                    $.alert({
                        title: 'Error!',
                        content: 'One or more row entries missing.',
                    });
                }
            });

            //cloned to new daily report
            $(".Btn_edit").click(function () {
                var currentRow = $(this).parent().parent();

                $(this).hide();
                $(currentRow).find(".Btn_save").removeAttr("hidden");
                $(currentRow).find(".Btn_save").show();

                $(currentRow).find(".narr_div").attr("contenteditable", "true");
                $(currentRow).find(".hours_div ").attr("contenteditable", "true");
                $(currentRow).find(".dpdwn_parsed_div").hide();
                $(currentRow).find(".dpdwn_div").show();
                $(currentRow).css("color", "red");
            });

            //cloned to new daily report
            $(".Btn_save").click(function () {
                var currentRow = $(this).parent().parent();

                $(this).hide();
                $(currentRow).find(".Btn_edit").removeAttr("hidden");
                $(currentRow).find(".Btn_edit").show();

                $(currentRow).find(".narr_div").attr("contenteditable", "false");
                $(currentRow).find(".hours_div ").attr("contenteditable", "false");
                $(currentRow).find(".dpdwn_parsed_div").show();
                $(currentRow).find(".dpdwn_div").hide();
                $(currentRow).css("color", "black");

                fn_produceParsedShortNames($(this));
            });

            //cloned to new daily report
            $(".Btn_delete").click(function () {
                var currentRow = $(this).parent().parent();
                temp_LineClass = $(currentRow).prop("class");

                //if this line is a new record, simply remove it
                if (temp_LineClass.includes("addRecord")) {
                    $(currentRow).remove();
                }

                //if this line is a returned record, set its class to deletedRecords
                if (temp_LineClass.includes("returnedRecords")) {
                    //used to change the class of a returned record to deleted record for later processing with a delete operation
                    if (temp_LineClass.includes("workDescLine")) {
                        $($(currentRow)).prop("class", "row deletedRecords workDescLine");
                    }
                    if (temp_LineClass.includes("delaysLine")) {
                        $($(currentRow)).prop("class", "row deletedRecords delaysLine");
                    }
                    if (temp_LineClass.includes("wntyDelaysLine")) {
                        $($(currentRow)).prop("class", "row deletedRecords wntyDelaysLine");
                    }

                    $($(currentRow)).find(".button_div .Btn_edit").attr("disabled", "true");
                    $($(currentRow)).find(".button_div .Btn_delete").attr("disabled", "true");

                    $($(currentRow)).find(".Btn_rtndRecord").attr("hidden", "true");
                    $($(currentRow)).find(".Btn_deletedRecord").removeAttr("hidden");
                }
            });

            //differs between new daily report and an existing one
            function fn_loadDropDowns() {

                //differs between new daily report and an existing one
                //begin fill the jobs dropdown
                $.ajax({
                    url: 'DataService.asmx/GetAllJobNos',
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {

                        jobs_dpdown.append($('<option/>', { value: -1, text: 'Select Job' }));

                        $(data).each(function (index, item) {
                            jobs_dpdown.append($('<option/>', { value: item.jobID, text: item.jobID }));
                        });
                    }
                });
                //end fill the jobs dropdown

                //cloned to new daily report
                //begin fill the team names dropdown
                $.ajax({
                    url: 'DataService.asmx/GetAllTeamNames',
                    method: 'post',
                    dataType: 'json',
                    data: { userName: '%' },
                    success: function (data) {
                        team_dpdwn.append($('<option/>', { value: -1, text: 'Add Team Member' }));

                        $(data).each(function (index, item) {
                            team_dpdwn.append($('<option/>', { value: item.userName, text: item.name + "-" + item.shortName }));
                        });
                    }
                });
                //end fill the team names dropdown
            }

            //cloned to new daily report
            function fn_produceParsedShortNames(button) {
                var currentWorkDescTeamShortNamesParsed = "";
                //select the list elements that contain the short names of the team members
                var currentTeamShortNameLists = $(button).parent().parent().find(".dpdwn_div").find(".select2-selection__rendered li");
                //select the div where the short names will be written
                var currentTeamDpdwnParsed = $(button).parent().parent().find(".dpdwn_parsed_div");

                $(currentTeamShortNameLists).each(function (index) {
                    currentWorkDescTeamShortNamesParsed = currentWorkDescTeamShortNamesParsed.concat($(this).attr("title") + "|");
                });
                currentTeamDpdwnParsed.html(currentWorkDescTeamShortNamesParsed);
            }

            //END RETURNED RECORDS AND TIME ENTRY SECTION

            //BEGIN SECTION TO PACK UP AND SAVE NEW RECORDS

            //differs between new daily report and an existing one
            $("#addButton").click(function () {//when the add button is clicked...

                //differs between new daily report and an existing one
                fn_loadTimeEntries_Add();
                fn_buildJsonObjects();

                //cloned to new daily report
                var addItem1 = $("#jobs_dpdown").val();
                var addItem2 = $("#slct_date").val();
                var addItem3 = $("#subJobTypes_dpdwn").val();
                var addItem4 = $("#input_startTime").val();
                var addItem5 = $("#input_endTime").val();
                var addItem6 = $("#input_lunch").val();
                var addItem7 = $("#input_equipment").val();
                var addItem7 = $("#input_equipment").val();
                var addItem8 = dailyRptAuthor;
                var addItem9 = dailyRptTeamUserIDArr;

                var data =  {
                    dailyReportID: 0,
                    jobID: addItem1,
                    date: addItem2,
                    subJobID: addItem3,
                    startTime: addItem4,
                    endTime: addItem5,
                    lunchHours: addItem6,
                    equipment: addItem7,
                    dailyReportAuthor: addItem8,
                    dailyRptTeamArr: addItem9,
                    workDescArr: workDescArrJson_Add,
                    delaysArr: delaysArrJson_Add,
                    wntyDelaysArr: wntyDelaysArrJson_Add
                };

                $.ajax({
                    url: '/dailyReport/AddDailyReport',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function () {
                    }
                   
                });

                //$.ajax({
                //    url: '/DataService.asmx/GetLastDlyRptCrtdByUserName',
                //    method: 'post',
                //    dataType: 'json',
                //    data: { dailyReportAuthor: dailyRptAuthor },
                //    //data: { dailyReportAuthor: 'user1' },
                //    success: function (data) {
                //        console.log("author is: " + dailyRptAuthor);
                //        $(data).each(function (index, item) {
                //            lastDlyRptCrtdByUser = item;
                //            console.log(lastDlyRptCrtdByUser);
                //            window.location = '/DailyReportByReportID?reportID=' + lastDlyRptCrtdByUser;
                //        });
                //    }
                //})
                //    .catch(function (error) {
                //        console.log(error);
                //    })

                window.location = '/dailyReportAll';//redirects, but not in time to show the new report.  should be handled on the server side, but ran into trouble.
            });

            //cloned to new daily report
            function fn_loadTimeEntries_Add () {

                var workDescTeam_narr_div_Content_Add = $(".addRecord").find(".workDescTeam_narr_div");
                var workDescTeam_dpdwn_Content_Add;

                var delaysTeam_narr_div_Content_Add = $(".addRecord").find(".delaysTeam_narr_div");
                var delaysTeam_hours_div_Content_Add;
                var delaysTeam_dpdwn_Content_Add;

                var wntyDelaysTeam_narr_div_Content_Add = $(".addRecord").find(".wntyDelaysTeam_narr_div");
                var wntyDelaysTeam_hours_div_Content_Add;
                var wntyDelaysTeam_dpdwn_Content_Add;

                var currentDropdownLine_Add;//generic

                $(workDescTeam_narr_div_Content_Add).each(function (index1) {

                    var workDescUserNamesArrTemp = [];

                    workDescNarrArr_Add.push($(workDescTeam_narr_div_Content_Add[index1]).html());

                    currentDropdownLine_Add = $(this).parent().attr("id");
                    workDescHoursArr_Add.push(0);
                    workDescTeam_dpdwn_Content_Add = $("#" + currentDropdownLine_Add).find(".select2-selection__choice__display");

                    $(workDescTeam_dpdwn_Content_Add).each(function (index2) {

                        var tempworkDescTeam_dpdwn_ID = $(workDescTeam_dpdwn_Content_Add[index2]).attr("id");
                        var regex = /\w+$/;
                        var temp_workDescTeam_dpdwn_ID_object = tempworkDescTeam_dpdwn_ID.match(regex);
                        var temp_UserID = temp_workDescTeam_dpdwn_ID_object[0];

                        workDescUserNamesArrTemp.push(temp_UserID);
                    });
                    workDescUserNamesArr_Add.push(workDescUserNamesArrTemp);

                    if (recordsToAddStatus == 0) {
                        recordsToAddStatus = 1;
                    }
                });

                $(delaysTeam_narr_div_Content_Add).each(function (index1) {

                    var delaysUserNamesArrTemp = [];

                    //delaysNarrArr_Add.push([$(delaysTeam_narr_div_Content[index1]).html()]);
                    delaysNarrArr_Add.push($(delaysTeam_narr_div_Content_Add[index1]).html());

                    currentDropdownLine_Add = $(this).parent().attr("id");
                    delaysTeam_hours_div_Content_Add = parseFloat($("#" + currentDropdownLine_Add).find(".delaysTeam_hours_div").html());
                    //delaysHoursArr_Add.push([delaysTeam_hours_div_Content]);
                    delaysHoursArr_Add.push(delaysTeam_hours_div_Content_Add);
                    delaysTeam_dpdwn_Content_Add = $("#" + currentDropdownLine_Add).find(".select2-selection__choice__display");

                    $(delaysTeam_dpdwn_Content_Add).each(function (index2) {

                        var tempDelaysTeam_dpdwn_ID = $(delaysTeam_dpdwn_Content_Add[index2]).attr("id");
                        var regex = /\w+$/;
                        var temp_delaysTeam_dpdwn_ID_object = tempDelaysTeam_dpdwn_ID.match(regex);
                        var temp_UserID = temp_delaysTeam_dpdwn_ID_object[0];

                        delaysUserNamesArrTemp.push(temp_UserID);
                    });
                    delaysUserNamesArr_Add.push(delaysUserNamesArrTemp);

                    if (recordsToAddStatus == 0) {
                        recordsToAddStatus = 1;
                    }
                });

                $(wntyDelaysTeam_narr_div_Content_Add).each(function (index1) {

                    var wntyDelaysUserNamesArrTemp = [];

                    //wntyDelaysNarrArr_Add.push([$(wntyDelaysTeam_narr_div_Content[index1]).html()]);
                    wntyDelaysNarrArr_Add.push($(wntyDelaysTeam_narr_div_Content_Add[index1]).html());

                    currentDropdownLine_Add = $(this).parent().attr("id");
                    wntyDelaysTeam_hours_div_Content_Add = parseFloat($("#" + currentDropdownLine_Add).find(".wntyDelaysTeam_hours_div").html());
                    //console.log(wntyDelaysTeam_hours_div_Content);
                    //wntyDelaysHoursArr_Add.push([wntyDelaysTeam_hours_div_Content]);
                    wntyDelaysHoursArr_Add.push(wntyDelaysTeam_hours_div_Content_Add);
                    wntyDelaysTeam_dpdwn_Content_Add = $("#" + currentDropdownLine_Add).find(".select2-selection__choice__display");

                    $(wntyDelaysTeam_dpdwn_Content_Add).each(function (index2) {

                        var tempWntyDelaysTeam_dpdwn_ID = $(wntyDelaysTeam_dpdwn_Content_Add[index2]).attr("id");
                        var regex = /\w+$/;
                        var temp_wntyDelaysTeam_dpdwn_ID_object = tempWntyDelaysTeam_dpdwn_ID.match(regex);
                        var temp_UserID = temp_wntyDelaysTeam_dpdwn_ID_object[0];

                        wntyDelaysUserNamesArrTemp.push(temp_UserID);
                    });
                    wntyDelaysUserNamesArr_Add.push(wntyDelaysUserNamesArrTemp);

                    if (recordsToAddStatus == 0) {
                        recordsToAddStatus = 1;
                    }
                });
                //var workDescTeam_narr_div_Content = $("#workDescriptionLine_template").find(".workDescLine").find(".workDescTeam_narr_div");
                //var workDescTeam_dpdwn_Content;

                //var delaysTeam_narr_div_Content = $("#delaysLine_template").find(".delaysLine").find(".delaysTeam_narr_div");
                //var delaysTeam_hours_div_Content;
                //var delaysTeam_dpdwn_Content;

                //var wntyDelaysTeam_narr_div_Content = $("#wntyDelaysLine_template").find(".wntyDelaysLine").find(".wntyDelaysTeam_narr_div");
                //var wntyDelaysTeam_hours_div_Content;
                //var wntyDelaysTeam_dpdwn_Content;

                //var currentDropdownLine;//generic

                //$(workDescTeam_narr_div_Content).each(function (index1) {

                //    var workDescUserNamesArrTemp = [];

                //    //workDescNarrArr_Add.push([$(workDescTeam_narr_div_Content[index1]).html()]);
                //    workDescNarrArr_Add.push($(workDescTeam_narr_div_Content[index1]).html());

                //    currentDropdownLine = $(this).parent().attr("id");
                //    workDescHoursArr_Add.push(0);
                //    workDescTeam_dpdwn_Content = $("#" + currentDropdownLine).find(".select2-selection__choice__display");

                //    $(workDescTeam_dpdwn_Content).each(function (index2) {

                //        var tempworkDescTeam_dpdwn_ID = $(workDescTeam_dpdwn_Content[index2]).attr("id");
                //        var regex = /\w+$/;
                //        var temp_workDescTeam_dpdwn_ID_object = tempworkDescTeam_dpdwn_ID.match(regex);
                //        var temp_UserID = temp_workDescTeam_dpdwn_ID_object[0];

                //        workDescUserNamesArrTemp.push(temp_UserID);
                //    });
                //    workDescUserNamesArr_Add.push(workDescUserNamesArrTemp);
                //});

                //$(delaysTeam_narr_div_Content).each(function (index1) {

                //    var delaysUserNamesArrTemp = [];

                //    //delaysNarrArr_Add.push([$(delaysTeam_narr_div_Content[index1]).html()]);
                //    delaysNarrArr_Add.push($(delaysTeam_narr_div_Content[index1]).html());

                //    currentDropdownLine = $(this).parent().attr("id");
                //    delaysTeam_hours_div_Content = parseFloat($("#" + currentDropdownLine).find(".delaysTeam_hours_div").html());
                //    //delaysHoursArr_Add.push([delaysTeam_hours_div_Content]);
                //    delaysHoursArr_Add.push(delaysTeam_hours_div_Content);
                //    delaysTeam_dpdwn_Content = $("#" + currentDropdownLine).find(".select2-selection__choice__display");

                //    $(delaysTeam_dpdwn_Content).each(function (index2) {

                //        var tempDelaysTeam_dpdwn_ID = $(delaysTeam_dpdwn_Content[index2]).attr("id");
                //        var regex = /\w+$/;
                //        var temp_delaysTeam_dpdwn_ID_object = tempDelaysTeam_dpdwn_ID.match(regex);
                //        var temp_UserID = temp_delaysTeam_dpdwn_ID_object[0];

                //        delaysUserNamesArrTemp.push(temp_UserID);
                //    });
                //    delaysUserNamesArr_Add.push(delaysUserNamesArrTemp);
                //});

                //$(wntyDelaysTeam_narr_div_Content).each(function (index1) {

                //    var wntyDelaysUserNamesArrTemp = [];

                //    //wntyDelaysNarrArr_Add.push([$(wntyDelaysTeam_narr_div_Content[index1]).html()]);
                //    wntyDelaysNarrArr_Add.push($(wntyDelaysTeam_narr_div_Content[index1]).html());

                //    currentDropdownLine = $(this).parent().attr("id");
                //    wntyDelaysTeam_hours_div_Content = parseFloat($("#" + currentDropdownLine).find(".wntyDelaysTeam_hours_div").html());
                //    //console.log(wntyDelaysTeam_hours_div_Content);
                //    //wntyDelaysHoursArr_Add.push([wntyDelaysTeam_hours_div_Content]);
                //    wntyDelaysHoursArr_Add.push(wntyDelaysTeam_hours_div_Content);
                //    wntyDelaysTeam_dpdwn_Content = $("#" + currentDropdownLine).find(".select2-selection__choice__display");

                //    $(wntyDelaysTeam_dpdwn_Content).each(function (index2) {

                //        var tempWntyDelaysTeam_dpdwn_ID = $(wntyDelaysTeam_dpdwn_Content[index2]).attr("id");
                //        var regex = /\w+$/;
                //        var temp_wntyDelaysTeam_dpdwn_ID_object = tempWntyDelaysTeam_dpdwn_ID.match(regex);
                //        var temp_UserID = temp_wntyDelaysTeam_dpdwn_ID_object[0];

                //        wntyDelaysUserNamesArrTemp.push(temp_UserID);
                //    });
                //    wntyDelaysUserNamesArr_Add.push(wntyDelaysUserNamesArrTemp);
                //});
                
            }

            function fn_buildJsonObjects() {
                //BEGIN BUILD THE WORK DESCRIPTION PRE-JSON OBJECT
                for (var i = 0; i < workDescNarrArr_Add.length; i++) {
                    workDescArrJson_Add[i] = {
                        workDescription: workDescNarrArr_Add[i],
                        workDescriptionCategory: "1",
                        hours: workDescHoursArr_Add[i],
                        userNames: workDescUserNamesArr_Add[i]
                    };
                }
                //END BUILD THE DELAYS PRE-JSON OBJECT

                //BEGIN BUILD THE WORK DESCRIPTION PRE-JSON OBJECT
                for (var i = 0; i < delaysNarrArr_Add.length; i++) {
                    delaysArrJson_Add[i] = {
                        workDescription: delaysNarrArr_Add[i],
                        workDescriptionCategory: "2",
                        hours: delaysHoursArr_Add[i],
                        userNames: delaysUserNamesArr_Add[i]
                    };
                }
                //END BUILD THE DELAYS PRE-JSON OBJECT

                //BEGIN BUILD THE WNTY DELAYS PRE-JSON OBJECT
                for (var i = 0; i < wntyDelaysNarrArr_Add.length; i++) {
                    wntyDelaysArrJson_Add[i] = {
                        workDescription: wntyDelaysNarrArr_Add[i],
                        workDescriptionCategory: "3",
                        hours: wntyDelaysHoursArr_Add[i],
                        userNames: wntyDelaysUserNamesArr_Add[i]
                    };
                }
                //END BUILD THE WNTY DELAYS PRE-JSON OBJECT
            }
            //END SECTION TO PACK UP NEW RECORDS

            //BEGIN MISCELLANEOUS SECTION

            //cloned to new daily report
            function fn_printArrays() {
                //BEGIN ADDED ARRAYS
                console.log("work description ADDED section follows:");
                console.log(workDescNarrArr_Add);
                console.log(workDescHoursArr_Add);
                console.log(workDescUserNamesArr_Add);
                console.log(workDescArrJson_Add);

                console.log("delays section ADDED follows:");
                console.log(delaysNarrArr_Add);
                console.log(delaysHoursArr_Add);
                console.log(delaysUserNamesArr_Add);
                console.log(delaysArrJson_Add);

                console.log("warranty delays ADDED section follows:");
                console.log(wntyDelaysNarrArr_Add);
                console.log(wntyDelaysHoursArr_Add);
                console.log(wntyDelaysUserNamesArr_Add);
                console.log(wntyDelaysArrJson_Add);
                //END ADDED ARRAYS

                //BEGIN EDITED ARRAYS
                console.log("work description EDITED section follows:");
                console.log(workDescNarrArr_Edit);
                console.log(workDescHoursArr_Edit);
                console.log(workDescUserNamesArr_Edit);
                console.log(workDescArrJson_Edit);

                console.log("delays section EDITED follows:");
                console.log(delaysNarrArr_Edit);
                console.log(delaysHoursArr_Edit);
                console.log(delaysUserNamesArr_Edit);
                console.log(delaysArrJson_Edit);

                console.log("warranty delays EDITED section follows:");
                console.log(wntyDelaysNarrArr_Edit);
                console.log(wntyDelaysHoursArr_Edit);
                console.log(wntyDelaysUserNamesArr_Edit);
                console.log(wntyDelaysArrJson_Edit);
                //END EDITED ARRAYS

                //BEGIN DELETED ARRAYS
                console.log("time entry delete section follows:");
                console.log(timeEntryDeleteArr);
                //END DELETED ARRAYS
            }

            //enable the select2 add-on
            //cloned to new daily report
            function fn_enableSelect2() {
                $('.Team_dpdwn').select2({
                    width: "100%",
                    placeholder: "Select Team",
                    closeOnSelect: "false"
                })
            }

            //disable the select2 add-on
            //cloned to new daily report
            function fn_disableSelect2() {
                $('.Team_dpdwn').select2('destroy')
            }

            //cloned to new daily report
            $("#printDailyReport").click(function () {//when a record's edit button is clicked...

                //begin axios delete post
                axios.post('/DailyReportByReportIDPrint', {

                    reportID: dailyReportID,
                })
                    .then(function (response) {
                        console.log(response);
                        $.alert({
                            title: 'Confirmation',
                            content: 'This daily report has been e-mailed.',
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                //end axios add pos
            });

            //cloned to new daily report
            function fn_cleanupDataEntryFields(passedHTML) {
                //BEGIN CLEAN UP INVISIBLE TRASH FROM THE WORK DESCRIPTION FIELD
                passedHTML = passedHTML.replace(/(&amp;)+/g, "");//wipe out &amp;
                passedHTML = passedHTML.replace(/(&nbsp;)+/g, "");//wipe out nbsp
                passedHTML = passedHTML.replace(/(<\w*>)+/g, "");//wipe out any html tags  

                return passedHTML;
                //END CLEAN UP INVISIBLE TRASH FROM THE WORK DESCRIPTION FIELD
            }

            //END MISCELLANEOUS SECTION

            //BEGIN VALIDATION BEFORE SAVING SECTION

            //cloned to new daily report
            function allFilled() {
                var filled = true;
                //console.clear();

                if ($("#slct_date").val() == '') {
                    console.log($("#slct_date").val())
                    console.log("#slct_date is empty")
                    filled = false;
                }

                if ($("#input_equipment").val() == '') {
                    console.log($("#input_equipment").val())
                    console.log("input_equipment is empty")
                    filled = false;
                }

                if ($("#input_startTime").val() == '') {
                    console.log("input_startTime is empty")
                    filled = false;
                }

                if ($("#input_endTime").val() == '') {
                    console.log("input_endTime is empty")
                    filled = false;
                }

                if ($("#input_lunch").val() == '') {
                    console.log("input_lunch is empty")
                    filled = false;
                }

                return filled;
            }

            //cloned to new daily report
            function enable_disableSave() {
                if (allFilled()) {
                    $('#addButton').removeAttr('disabled');
                } else {
                    $('#addButton').attr('disabled', 'disabled');
                }
            }

            //cloned to new daily report
            function fn_rowFilled(button) {
                var currentRow = button.parent().parent();
                var rowFilled = true;
                //console.clear();

                if (currentRow.find(".narr_div").html() == "") {
                    //console.log("Narr div is empty.")
                    rowFilled = false;
                    return rowFilled;
                }

                if (currentRow.find(".select2-selection__rendered").html() == "") {
                    //console.log("dpdwn_div div is empty.")
                    rowFilled = false;
                    return rowFilled;
                }

                if (currentRow.find(".hours_div").html() == "") {
                    //console.log("hours div is empty.")
                    rowFilled = false;
                    return rowFilled;
                }

                return rowFilled;
            }
            //END VALIDATION BEFORE SAVING SECTION

        });//end document read jquery statements
    </script>
</head>

<div class="container" id="contnrDailyLog">
    <h3 style="text-align:center">CREATE A NEW FIELD SERVICE RECORD</h3>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Daily Log Information</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <div>
                <span><strong>Record No</strong></span>
                <span id="txt_dailyReportID" value="">New</span>
            </div>
        </div>
        <div class="col-3" style="padding:5px">
            <div>
                <span><strong>Author</strong></span>
                <span class="" id="dailyRptAuthor">@User.Identity.GetUserName()</span>
                @*<span class="" id="dailyRptAuthor">@Model.First().dailyReportAuthor</span>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="md-col-2" style="padding:5px">
            <strong>Job:</strong>
        </div>
        <div class="md-col-2" style="padding:5px">
            <select name="jobs_dpdown" id="jobs_dpdown" style="width:100%" value="">
            </select>
            <input type="text" id="input_jobs_dpdown" name="" style="width:100%" hidden>
        </div>
        <div class="md-col-5" style="padding:5px"></div>
        <div class="md-col-1" style="padding:5px">
            <strong>Date:</strong>
        </div>
        <div class="md-col-2" style="padding:5px">
            <input type="date" class="form-control form-control-sm" id="slct_date" placeholder="" value=@DateTime.Today.ToString("yyyy-MM-dd")>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Customer:</strong>:
        </div>
        <div class="col-7" style="padding:5px" id="output_customerName"></div>
        <div class="col-1" style="padding:5px">
            <strong>Sub Job:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <select name="subJobTypes_dpdwn" id="subJobTypes_dpdwn" style="width:100%" disabled>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Location:</strong>
        </div>
        <div class="col-7" style="padding:5px" id="output_location"></div>
        <div class="col-1" style="padding:5px">
            <strong>Code:</strong>
        </div>
        <div class="col-2" style="padding:5px" id="output_customerCode"></div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Customer Contact:</strong>
        </div>
        <div class="col-4" style="padding:5px" id="output_customerContact"></div>
        <div class="col-2" style="padding:5px">
            <strong>Correspondents:</strong>
        </div>

    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Equipment:</strong>
        </div>
        <div class="col-10" style="padding:5px">
            <input type="text" value="" id="input_equipment" name="" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Start Time:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <input type="time" class="form-control form-control-sm" id="input_startTime" placeholder="" value="">
        </div>
        <div class="col-2" style="padding:5px">
            <strong>End Time:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <input type="time" class="form-control form-control-sm" id="input_endTime" placeholder="" value="">
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Lunch (hr)</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <input type="text" class="form-control form-control-sm" id="input_lunch" value="1">
        </div>
        <div class="col-1" style="padding:5px">
        </div>
    </div>
</div>

@*BEGIN ALLPAX TEAM*@
<hr class="sectionSeparator">
<div class="container" id="">
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Allpax Team:</strong>
        </div>
        <div class="col-10" style="padding:5px">
            <div class="row" style="margin:0px;">
                <select name="team_dpdwn" id="team_dpdwn" style="width:100%">
                </select>
            </div>
            <div class="row" style="margin:0px;" name="txt_teamMembers" id="txt_teamMembers">
                <div class="team_" id="team_" style="padding:5px; border:solid black 1px" hidden>
                    Johnny Watkins|JW
                </div>
            </div>
            @*<button class='btn btn-light btn-sm' id="enableSelect2">enable</button>
                <button class='btn btn-light btn-sm' id="disableSelect2">disable</button>*@
        </div>
    </div>
</div>
@*END ALLPAX TEAM*@

@*BEGIN WORK DESCRIPTION SECTION*@
<hr class="sectionSeparator">
<div class="container" id="workDesc_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <strong>Work Description</strong>
        </div>
        <div class="col-4" style="padding:5px">
            <strong>Team</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>
    @*BEGIN NEW WORK DESCRIPTION TEMPLATE*@
    <div class="" id="workDescriptionLine_template" style="">
        <div class="row entryRow workDescriptionLine_template_row_active" id="" style="">
            <div class="col-6 narr_div workDescTeam_narr_div" id="" contenteditable="true" style=""></div>
            <div class="col-4 dpdwn_div workDescTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new workDescTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-4 dpdwn_parsed_div workDescTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="">

            </div>
            <div class="col-2 button_div workDescTeam_button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_add newWorkDescBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWorkDescBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWorkDescBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWorkDescBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x" style="color:red;"></i></button>
            </div>
        </div>

        <div class="row entryRow workDescriptionLine_template_row_hidden" id="" style="" hidden>
            <div class="col-6 narr_div workDescTeam_narr_div" id="" contenteditable="true" style=""></div>
            <div class="col-4 dpdwn_div workDescTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new workDescTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-4 dpdwn_parsed_div workDescTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="">

            </div>
            <div class="col-2 button_div workDescTeam_button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_add newWorkDescBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWorkDescBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWorkDescBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWorkDescBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x" style="color:red;"></i></button>

            </div>
        </div>
    </div>
    @*END NEW WORK DESCRIPTION TEMPLATE*@
</div>
@*END WORK DESCRIPTION SECTION*@

@*BEGIN DELAYS*@
<hr class="sectionSeparator">
<div class="container" id="delays_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <strong>Delays</strong>
        </div>
        <div class="col-3" style="padding:5px">
            <strong>Team</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <strong>Hours</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>
    @*BEGIN NEW DELAYS TEMPLATE*@
    <div class="" id="delaysLine_template">
        <div class="row entryRow delaysLine_template_row_active" id="" style="">
            <div class="col-6 narr_div delaysTeam_narr_div" id="" contenteditable="true" style=""></div>
            <div class="col-3 dpdwn_div delaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new delaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div delaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="">

            </div>
            <div class="col-1 hours_div delaysTeam_hours_div" id="" contenteditable="true" style=""></div>
            <div class="col-2 button_div delaysTeam_button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_add newDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x" style="color:red;"></i></button>
            </div>
        </div>

        <div class="row entryRow delaysLine_template_row_hidden" id="" style="" hidden>
            <div class="col-6 narr_div delaysTeam_narr_div" id="" contenteditable="true" style=""></div>
            <div class="col-3 dpdwn_div delaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new delaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div delaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="">

            </div>
            <div class="col-1 hours_div delaysTeam_hours_div" id="" contenteditable="true" style=""></div>
            <div class="col-2 button_div delaysTeam_button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_add newDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>

            </div>
        </div>
    </div>
    @*END DELAYS TEMPLATE*@
</div>
@*END DELAYS*@

@*BEGIN WARRANTY DELAYS*@
<hr class="sectionSeparator">
<div class="container" id="wntyDelays_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <strong> Warranty Delays</strong>
        </div>
        <div class="col-3" style="padding:5px">
            <strong>Team</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <strong>Hours</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>
    @*BEGIN NEW WARRANTY DELAYS  TEMPLATE*@
    <div class="" id="wntyDelaysLine_template" style="">
        <div class="row entryRow wntyDelaysLine_template_row_active" id="" style="">
            <div class="col-6 narr_div wntyDelaysTeam_narr_div" id="" contenteditable="true" style=""></div>
            <div class="col-3 dpdwn_div wntyDelaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new wntyDelaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div wntyDelaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="">

            </div>
            <div class="col-1 hours_div wntyDelaysTeam_hours_div" id="" contenteditable="true" style=""></div>
            <div class="col-2 button_div wntyDelaysTeam_button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_add newwntyDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newwntyDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit linewntyDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save linewntyDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete linewntyDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x" style="color:red;"></i></button>

            </div>
        </div>

        <div class="row entryRow wntyDelaysLine_template_row_hidden" id="" style="" hidden>
            <div class="col-6 narr_div wntyDelaysTeam_narr_div" id="" contenteditable="true" style=""></div>
            <div class="col-3 dpdwn_div wntyDelaysTeam_dpdwn_div" style="padding:0px;">
                <select class="Team_dpdwn team_dpdwn_new wntyDelaysTeam_dpdwn" id="" multiple="multiple">
                </select>
            </div>
            <div class="col-3 dpdwn_parsed_div wntyDelaysTeam_dpdwn_parsed_div" id="" hidden contenteditable="false" style="">

            </div>
            <div class="col-1 hours_div wntyDelaysTeam_hours_div" id="" contenteditable="true" style=""></div>
            <div class="col-2 button_div wntyDelaysTeam_button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_add newWntyDelaysBtn_add"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                <button id="" class="btn btn-light btn-sm Btn_clear newWntyDelaysBtn_clear" hidden><i class="fas fa-eraser fa-2x" style="color:black;"></i></button>

                <button id="" class="btn btn-light btn-sm Btn_edit lineWntyDelaysBtn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class='btn btn-light btn-sm Btn_save lineWntyDelaysBtn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                <button class='btn btn-light btn-sm Btn_delete lineWntyDelaysBtn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x" style="color:red;"></i></button>

            </div>
        </div>
    </div>
    @*END WARRANTY DELAYS TEMPLATE*@
</div>
@*END WARRANTY DELAYS*@

@*BEGIN FINAL PAGE ACTIONS*@
<hr class="sectionSeparator">
<div class="container" id="_container">
    <div class="row">
        <div class="col-6" style="padding:5px">
            <button type="button" class="btn btn-primary btn-sm" id="addButton" style="width: 100%" disabled>Save & Exit</button>
        </div>
        <div class="col-6" style="padding:5px">
            <button type="button" class="btn btn-primary btn-sm" id="submitButton" style="width: 100%" disabled>Save & Submit</button>
        </div>
        @*<div class="col-4" style="padding:5px">
            <button type="button" class="btn btn-primary btn-sm" id="printDailyReport" style="width: 100%">E-mail Daily Report Test</button>
        </div>*@
    </div>
</div>
@*END FINAL PAGE ACTIONS*@